body {
    background-color: #860076;
    color: #d2a7a7;
    text-align: center;
    align-content: center;
}
a {
    color: #b4c1ce;
}

ul {
    list-style-position: inside; 
    padding-left: 0; 
    margin: 10px 0;
}